 
<!-- aqui solo cargamos cosas que iran dentro del body-->

<div class="jumbotron">


	<div id="container">

		<div class="row">


			<% @search.each  do |tweet| %>



			<div  class="item" style="width:195px; margin:0 auto;"> 

				<div class="thumbnail">
					<%= image_tag(tweet.user.profile_image_url("bigger"), class:"pull-left  img-circle") %>
					<div class="caption">
						<h3 class="text-right"><%= tweet.user.name %></h3>
						<p class="small"><%= tweet.user.location %></p>
						<p><a href="<%= tweet.url %>" class="" >
							<%= tweet.text%></a>
						</p>
						<p>
							<span class="small text-right"> <%= time_ago_in_words(tweet.created_at) %></span>
						</p>
					</div>
				</div>
			</div> <!-- //fin .item-->      
			<%  end %>
		</div>
	</div><!-- //fin de container-->


	



</div><!-- //fin de Jumbotron-->
<div class="container">
	<div class="container marketing">

		
		<div class="col-lg-4">
			<img style="width: 140px; height: 140px;" alt="Generic placeholder image" src="https://i.ytimg.com/vi/nZhZQx-5LrQ/mqdefault.jpg" class="img-circle">
			<h2>CC: beatbox chileno</h2>
			<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
			<p><a role="button" href="#" class="btn btn-default">Descubrir »</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img style="width: 140px; height: 140px;" alt="Generic placeholder image" src="https://i.ytimg.com/vi/4ridVan2qsM/mqdefault.jpg" class="img-circle">
			<h2>CC: Violin and Didgeridoo</h2>
			<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
			<p><a role="button" href="#" class="btn btn-default">Descubrir »</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img style="width: 140px; height: 140px;" alt="Generic placeholder image" src="https://i.ytimg.com/vi/1zBqnGe71JA/mqdefault.jpg" class="img-circle">
			<h2>CC: Romina, Acordeón</h2>
			<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			<p><a role="button" href="#" class="btn btn-default">Descubrir »</a></p>
		</div><!-- /.col-lg-4 -->
	</div><!-- /.row -->

	
	<!-- /END THE FEATURETTES -->
	<!-- FOOTER -->
	<footer>
		<p class="pull-right"><a href="#">Subir</a></p>
		<p>&copy; 2014 TwitterWall  · <a href="#">Privacy</a> · <a href="#">Todos los derechos compartidos</a></p>
	</footer>

</div>

</div>

<script type="text/javascript">

	var $container = $('#container');
// initialize
$container.masonry({
	columnWidth: 200,
	"isFitWidth": true,
	"isOriginLeft": true,
	itemSelector: '.item'
});


$(window).load(function(){  
	var $container = $('#container');
// initialize
$container.masonry({
	columnWidth: 200,
	"isFitWidth": true,
	"isOriginLeft": true,
	itemSelector: '.item'
});

});


</script>